:root{
    --main-color: #3794d1;
    --sec-color:#44d8c4;
    --third-color: #07a2db;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

.title {
    color: #44d8c4;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn-nav-col{
    background-color: var(--sec-color);
    border: transparent;
    color: white;
}

.btn-nav-col:hover{
color: white;
background-color: #3794d1;
transition: 0.6s;
}

.backgroundcol {
    background-color: #07a2db!important;
    color: white;
}

.icondim {
    font-size: 40px;
    color: #07a2db;
}

.nav-btn {
    color: black;
}

.nav-btn:hover {
    color: #3794d1!important;
    transition: 0.5s;
    transform: scale(1.1);
}

.progress-bar {
    background-color: #07a2db;
}

/* .div1 {
    height: 600px;
} */

.cardHeightFromTop {
    margin-top: 200px;
}

.cardInfo {
    height: 600px;
    width: 800px;
    border-radius: 25px;
}

.cardImage {
    border-radius: 25px;
    background-image: cover;
    height: 599px;
    width: 530px;
    
    position: relative;
    bottom: 40px;
}

.cardImRegul {
background-color:#07a2db ;
border-radius: 25px;
background-image: cover;
height: 599px;
width: 530px;

}

.arrSchede {
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
    .cardImRegul {
     height: 399px;
     width: 330px;
    }

    .cardImage{
        height: 399px;
     width: 330px;
    }
  }

  .cardsDent {
    padding-top: 100px;
  }

  .graphCard {
      background-color: #44d8c4;
      border-radius: 25px;
  }

  .graphCard:hover {
      transform: scale(1.1);
      transition: 0.8s;
  }

  .card {
      border: transparent!important;
  }

  .teamcard:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

/* .ciao {
    background-image: url(img/carro.jpg);
    background-attachment: fixed;
    background-size: cover;

} */

.pd-top {
    padding-top: 100px!important;
}

.pd-bot {
    padding-bottom: 100px!important;
}